body {
    background-color: #45666B;
    font-family: "Oregano", serif;
}

h1 {
    font-size: 80px;
}

/* TOP {NAV BAR START */
#navbar img {
    width: 50px;
    height: 50px;
}

/* TOP NAV BAR END */

/* IMAGE CONTAINER START */

.image-container1 {
    float: left;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container2 {
    float: left;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-right: 20px;
}

.text-container {
    width: 50%;
}

h1 {
    font-family: "Lusitana";
    position: relative;
    left: 0px;
    font-size: 90px;
    margin-top: 100px;
    margin-left: 60px;
  }
  
p {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lilly", serif;
  }

.image-container2 {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

